.--slider-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 4px 0 4px;
}

.--max-range-container,
.--min-range-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.--slider-input{
    width: 100%;
    position: relative;
    appearance: none;
    background: #eeefee;
    border: solid 1px #aaa;
    border-radius: 10%;
    height: 5px;
}

.--slider-input::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width: 15px;
    border-radius: 7%;
    border: solid 1px #aaa;
    background: #cff4fc;
}

.--slider-label{
    width: 50px;
    text-align: center;
}